<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>view/account/login.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>pagesize</param-name>
        <param-value>7</param-value>
    </context-param>
    <servlet>
        <servlet-name>ListControll</servlet-name>
        <servlet-class>ControllerSt.ListControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>groupStudentControll</servlet-name>
        <servlet-class>ControllerSt.groupStudentControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalenderControll</servlet-name>
        <servlet-class>ControllerSt.CalenderControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>datetest</servlet-name>
        <servlet-class>ControllerSt.datetest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationController</servlet-name>
        <servlet-class>controller.AuthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionTodayController</servlet-name>
        <servlet-class>ControllerSt.SessionTodayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAttendanceController</servlet-name>
        <servlet-class>ControllerSt.EditAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAttendanceController</servlet-name>
        <servlet-class>ControllerSt.ViewAttendanceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeAttendanceController</servlet-name>
        <servlet-class>ControllerSt.TakeAttendanceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListControll</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>groupStudentControll</servlet-name>
        <url-pattern>/groupstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalenderControll</servlet-name>
        <url-pattern>/calendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>datetest</servlet-name>
        <url-pattern>/datetest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionTodayController</servlet-name>
        <url-pattern>/sessiontoday</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAttendanceController</servlet-name>
        <url-pattern>/EditAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAttendanceController</servlet-name>
        <url-pattern>/ViewAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeAttendanceController</servlet-name>
        <url-pattern>/TakeAttendance</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
